language: node_js
node_js:
  - 6
cache:
  directories:
    - node_modules
script:
  - npm run build
  - npm test
deploy:
  provider: elasticbeanstalk
  access_key_id: AKIAIC3K5C6YMUCMO5FA
  secret_access_key:
    secure: "dWoeRb0LdUsGHcVDH9Xx8giKxShjXgh+cdMFkhA5an9+jvza6H4Gdm2CtmUGmrrupsF5tgOtKSKmKG4zkEA2ztngLYoaL9/GiYdJCoxeIbEihy+PaeYUABPi5u4iC1KN1drlBhgyWglrKN8A0ilOPHUQIi8C7Gdz2S07PYyMSGl6MTpBxB0V3pM3P4FI2xr9vTmBEQelMXsO7gdp5JybH13Vx4f83TSkM3lfqaeokFCLgUcwR3mRgFMZoOVl9KYo0q4FgbT3G8KvnPafAgHO9GpTrSFHzwVRTMt050mZOS2qKBa6uEq+Ex+h/YVilFM+bIU1P3NDGdbK9zB+KYLlSdVaRwxS9KqQ9Jq57td13uFhFR725lFsuJIeQ/8DP2vEDSs/YHE80z/MtLex0aDg/dW2x6IRAU26wddLOOJElnHhqBxRA1cmDiadBCXrvTszPk9a/g24PkOShSTzWGO7lWdk+MjtcFd9Ceyo9QAHuB4J0sGLAzwOkmaufJYCjQtLHNiHhNfCyaUtYfyOlb1sQWKyoEwjc8kJficuQGtR8Mt1tKTJD4aWQaJBSwBKDB9ejspVlH+t7MmDhRapslwSCVZ1xzeGZhGBBN913SUJjErGESkG0Qts9ePtz3uECKDjVOFZwtX+Wkpgnqq1hyeYbGATp6bPaXhFDU83CDLGLxc="
  region: "us-east-1"
  app: "ryanwalters-resume"
  env: "RyanwaltersResume-env"
  bucket_name: "elasticbeanstalk-us-east-1-368961819421"
